{% extends "../../layouts/_default.twig" %}
{% block pageName %}View All  Galaxies{% endblock %}
{% block main %}
  <h1>All Galaxies</h1>
  <ul>
    {% for galaxy in galaxies %}
    <li>
      {{ Galaxies.title }} -
        <a href="/galaxies/{{Galaxies.id}}">Show</a> | 
        <a href="/galaxies/{{Galaxies.id}}/edit">Edit</a> |
        <a href="/galaxies/{{Galaxies.id}}/delete">Delete</a> 
    </li>
    {% endfor %}
  </ul>
  <a href="/galaxies/new">Create New Galaxy</a>
{% endblock %}
