<form action="{% if galaxy is defined %}/galaxies/{{ galaxy.id }}{% else %}/galaxies{% endif %}" method="POST">
    {% if galaxy is defined %}
        <input type="hidden" name="_method" value="PUT">
    {% endif %}

    <div class="control">
        <label>Name:</label>
        <input type="text" name="name" {% if galaxy is defined %} value="{{ galaxy.name }}" {% endif %} required/>
    </div>

    <div class="control">
        <label>Size:</label>
        <input type="text" name="size" {% if galaxy is defined %} value="{{ galaxy.size }}" {% endif %} required/>
    </div>

    <div class="control">
        <label>Description:</label>
        <textarea name="description" required>
            {% if galaxy is defined %}
                {{ galaxy.description }}
            {% endif %}
        </textarea>
    </div>

    <button id="btn" type="submit">
        {% if galaxy is defined %}Update{% else %}Create{% endif %}
        Galaxy
    </button>
    <a href="/galaxies">Go Back</a>
</form>