{% extends '../../layouts/base.twig' %}
{% block pageName %}Create New Galaxy{% endblock %}

{% block main %}
  <h1>Create New Galaxy</h1>
  <p>Hello from views/galaxy/crete.twig</p>
{% include "views/galaxy/_form.twig" %}
{% endblock %}
