{% extends "../../layouts/base.twig" %}
{ block pageName %}Edvvit {{galaxy.title}}{% endblock %}

{% block main %}

  <h1>Edit  {{galaxy.title}}</h1>
  {% include "views/galaxy/_form.twig" with {"galaxy" : galaxy} %}
{% endblock %}
